<%- include('../partials/header') %>

    <main class="main" id="main">

    <h1 class="display-1 main-heading text-center text-capitalize"><%= title %></h1>

    <section class="text-center mb-4">

        <p>Description: <%= extras.description %></p>
        <p>Year Released: <%= extras.yrReleased %></p>
        <p>Typical Rating: <%= extras.rating %></p>
        <p>Avg Runtime: <%= extras.avgRuntime %></p>
        <p>IMDb Rating: <%= extras.imdbRating %></p>

    </section>

    <div class="container movie-grid">

        <div class="row row-cols-1 row-cols-md-5 g-4" id="movieRow">

            <% movies.forEach(movie => { %>
                
                <div class="col">

                    <a href="/<%= type %>/<%= movie.id %>" class="text-decoration-none text-dark">

                        <div class="card h-100" id="movieCard">
    
                            <img src="<%= movie.posterURL %>" 
                                class="img-fluid image-movie-poster card-img-top" id="moviePoster" alt="<%= movie.title %> poster">
    
                            <div class="card-body text-center">
                                    
                                <h2 class="card-title" id="movieTitle"><%= movie.title %></h2>
                                    
                            </div>
                                
                            <div class="card-footer">
    
                                    <small class="text-body-secondary">
    
                                        <p>
    
                                            <a href="https://www.imdb.com/title/<%= movie.imdbId %>/"
                                                id="imdbLink" 
                                                target="_blank"
                                                rel="noopener noreferrer"
                                                class="btn btn-primary">
                                                View on IMDb
                                            </a>
    
                                        </p>
    
                                    </small>
    
                            </div>
    
    
                    
                    
                        </div>

                    </a>


                </div>
             
    
            <% }) %>
        

        </div>

    </div>


    <!-- pagination controls -->

    <div class="pagination">

        <% if (pagination.hasPrevPage) { %>

            <a href="/genre/<%= type %>?page=<%= pagination.currentPage - 1 %>"> ← Prev </a>

        <% } %>

        <span>Page <%= pagination.currentPage %> of <%= pagination.totalPages %></span>

        <% if (pagination.hasNextPage) { %>
         
            <a href="/genre/<%= type %>?page=<%= pagination.currentPage + 1 %>"> Next → </a>

        <% } %>

    </div>

    </main>

<%- include('../partials/footer') %>