<%- include('../partials/header') %>

    <main class="main" id="main">
        <h1 class="display-1 main-heading text-center text-capitalize"><%= title %></h1>

        <div class="container movie-grid">
            
            <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-3" id="movieRow">
        
                <% movies.forEach(movie => { %>
            
                    <div class="col">

                        <div class="card h-100" id="movieCard">

                            <img src="<%= movie.posterURL %>" class="img-fluid image-movie-poster card-img-top " id="moviePoster" alt="<%= movie.title %> poster">

                            <div class="card-body text-center">

                                <h2 class="card-title" id="movieTitle">
                                    <%= movie.title %>
                                </h2>
                                <p class="card-text" id="movieGenre">
                                    Genre: <%= movie.genre %>
                                </p>

                            </div>

                            <div class="card-footer">

                                <small class="text-body-secondary">
                                    <p>
                                        <a href="https://www.imdb.com/title/<%= movie.imdbId %>/" 
                                            target="_blank"
                                            id="imdbLink"
                                            rel="noopener noreferrer"
                                            class="btn btn-primary">

                                            View on IMDb
                                            
                                        </a>
                                    </p>
                                </small>

                            </div>

                        </div>

                    </div>

                <% }) %>

            </div>

        </div>
        
    </main>

<%- include('../partials/footer') %>